/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.navbar {
  height: 80px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-family: 'Rubik', serif;
  font-size: 2rem;
  font-style: italic;
}

.geeks-logo {
  width: 60px;
  height: 60px;
}
main {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.postcard-msg {
  font-family: 'Rubik', serif;
  font-style: italic;
  padding-right: 10px;
}

.postcard-form {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & > input {
    border: none;
    border-bottom: 1px solid black;
  }
}

.container-btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postcard-btn {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
